
<form [formGroup]="filter" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="XXX" name="currencyCode" formControlName="currencyCode">
    <input type="text" placeholder="YYYY-MM-DD" required pattern="\d{4}-\d{2}-\d{2}" id="startDate" name="startDate" formControlName="startDate">
    <input type="text" placeholder="YYYY-MM-DD" required pattern="\d{4}-\d{2}-\d{2}" id="endDate" name="endDate" formControlName="endDate">
    <button class="button" type="submit">Submit</button>
</form>

<plotly-plot [data]="priceTraces" [layout]="layout"></plotly-plot>

<plotly-plot [data]="differenceTraces" [layout]="layout"></plotly-plot>
